/*
Palette Colors as example:
HEX
F0B67F  Background name: PalColors1
FE5F55  Button name: PalColors2
D6D1B1  Text name: PalColors3
C7EFCF  Text name: PalColors4
EEF5DB  Text name: PalColors5
*/
body {
  background-color: #F0B67F; /*Will be replaced by background-image*/
}

li {
  color: #C7EFCF
  
}

h1 {
  color: #C7EFCF; 
  text-align: center; 
}

p {
  color: #D6D1B1;
  font-family: verdana;
  font-size: 20px;
}
